.footer {
    background-color: #222222;
    padding: 80px;
    color: white;
    border-top: 2px solid #ddd;
   text-align: center;
    
}
.one {
     display: flex;
     justify-content: center;
     flex-direction: row;
    font-size: 1.2em; 
    gap: 20px;
    
  }

  .one span {
    font-size: small;
  }
  
  .footer p {
    margin-top: 80px;
  }
