/* Cart.module.css */

/* Style for the cart item container */
.cartItem {
  display: flex;
  width: 100%;
  padding: 16px;
  border: 1px solid #e0e0e0;
  margin-bottom: 16px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
 
}

/* Style for the car image */
.image {
 width: 300px;
  margin-right: 16px;
}

/* Style for the car info */
.info {
  flex: 1;
}

/* Style for the car title */
.title {
  font-size: 1.25rem;
  margin: 0;
}

/* Style for the car year */
.year {
  font-size: 1rem;
  color: #888;
  margin: 0;
}

/* Style for the car description */
.description {
  font-size: 1rem;
  margin: 0;
}

/* Style for the car price */
.price {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  text-align: right; /* Align the price to the right */
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #170c08;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #22140f;
  border-color: #22140f;
  color: white;
}

.actions .button--alt {
  color: #170c08;
}

.actions .button {
  background-color: #170c08;
  color: white;
}
